<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
</body>
<script src="/bower_components/localforage/dist/localforage.js"></script>
<script type="text/javascript">
	// localforage.config({
	// 	dirver:[localforage.LOCALSTORAGE,localforage.INDEXEDDB,localforage.WEBSQL],
	// 	// name:"i-heart-localstorage"
	// });
	
	localforage.config({
		name:"myStorage"
	});
	localforage.setDriver(localforage.LOCALSTORAGE).then(function(){
		localforage.setItem("for-te","123413").then(function(){
			console.log(arguments);
		});
	});
</script>
</html>